<!-- 1st container -->
<div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="acrylicputty" alt="" height="350px; " width="300px;"></mat-card>

      <div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b>Trucare Acrylic Wall Putty for a Long Lasting Wall Finish</b></h2>
        <ul><li>Build the foundation of your walls before applying <br>paint with this undercoat.</li>
          <li>Best quality in class finish putty.</li>
          <li>Quantity: 4kg</li>
        </ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>


  </div>

</div>

</div>

<!-- 2nd container -->
<div class="container-fluid" >

  <div class="row">

<div class="col-sm " >
  <mat-card class="product1"><img [src]="bagputty" alt="" height="350px; " width="300px;"></mat-card>

    <div class="col-sm ">

      <mat-card class="product-content"><br>
        <h2><b>Get Exterior Wall Putty for a Smooth Wall Finish- AsianPaints</b></h2>
        <ul><li>A perfect wall putty for exterior that lands <br>a smooth and uniform finish</li>
          <li>Easy workability</li>
          <li>Quantity: 40kg</li>
        </ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>


  </div>
</div>
</div>

<!-- 3rd container -->
<div class="container-fluid" >

  <div class="row">

<div class="col-sm " >
  <mat-card class="product1"><img [src]="bagputty2" alt="" height="350px; " width="300px;"></mat-card>

    <div class="col-sm ">

      <mat-card class="product-content"><br>
        <h2><b>Trucare Filling Putty Designed for Leveling Large Surface</b></h2>
        <ul><li>A fine product for leveling large surface undulations and<br> keeps the aesthetic exteriors of you home intact</li>
          <li>Easy filing</li>
          <li>Quantity: 40kg</li>
        </ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>


  </div>
</div>
</div>

