<!-- 1st container -->
<div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="acetenltr" alt="" height="350px; " width="300px;"></mat-card>

      <div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b>ASIAN Paints ACE Exterior Emulsion (10 L, White)</b></h2>
        <ul><li>Net Contents: 10 Liters White Exterior Emulsion</li>
          <li>Performance Warranty 3 years</li>
          <li>Water Resistant Technology</li>
          <li>Product of Asian Paints</li>
          <li>Made in India</li>

        </ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>


  </div>

</div>

</div>

<!-- 2nd container -->
<div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="ace2" alt="" height="350px; " width="300px;"></mat-card>

      <div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b> Asian Paints Ace Advance Exterior Emulsion (4 LTR)</b></h2>
        <ul><li>Multi surface usage.</li>
          <li>Clear coat | gloss finish</li>
          <li>Anti bacterial protection.</li>
          <li>Suitable for protecting painted surfaces(masonry/wood and metal)</li>
          <li>Made in India</li>

        </ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>


  </div>

</div>

</div>

<!-- 3rd container -->
<div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="apex11" alt="" height="350px; " width="300px;"></mat-card>

      <div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b> Asian Paint Apex Weather-Proof Paint, 20 L (White)</b></h2>
        <ul><li>Weather-Proof Paint</li>
          <li>Quantity - 20 L</li>
          <li>Colour - White</li>
          <li>Made in India</li>

        </ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>


  </div>

</div>

</div>


<!-- 4thcontainer -->

<div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="apex2" alt="" height="350px; " width="300px;"></mat-card>

      <div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b>Asian Paint Apex Ultima, 20 L (White)</b></h2>
        <ul><li>Attractive colour</li>
          <li>Good paint</li>
          <li>Colour - White</li>
          <li>Made in India</li>

        </ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>


  </div>

</div>

</div>
