



<nav class="navbar   navbar-expand-lg navbar-light trana "  style="background-color:rgb(61, 24, 95);">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
          <img src="../../assets/images/shoplogo.png" alt="" class="logo-image">
</a>

     <b><a class="nav-item nav-link active active content" style="color:white ; font-size: medium;" routerLink="">Home <span class="sr-only">(current)</span></a></b>
    <b><a class="nav-item nav-link content " style="color:white; font-size: medium" routerLink='products'>Products</a></b>
      <b><a class="nav-item nav-link content " style="color:white;font-size: medium" routerLink='gallery'>Gallery</a></b>

      <b><a class="nav-item nav-link content" style="color:white;font-size: medium" href="#">About us</a></b>
      <div class="spacer">
        <span>
      <b><a class="nav-item  nav-link content" style="color: white;font-size: medium; float: right;" routerLink="/login">Login</a></b></span>


      <b><a class="nav-item  nav-link" style="color: white;font-size: medium; float: right;"> <span class="material-icons mail">email</span>    deepakchadha108@gmail.com</a></b>

       <b><a class="nav-item  nav-link" style="color: white;font-size: medium; float: right;"> <span class="material-icons phn">call</span>    9501478777</a></b>
        <!-- <b><a class="nav-item  nav-link" style="color: white;font-size: medium; float: right;"><span class="material-icons">
          call
          </span></a></b> -->

      </div>

</nav>





<router-outlet></router-outlet>


