body

{
  background-image: url("../../assets/images/bgimage.jpg");
}


.container{
  margin: 0%;
  padding: 0%;
}
.container:before{
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/images/bgimage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: blur(10px);
  -moz-filter:blur(10px);
  filter:blur(10px);
}
