<!-- 1st container -->
<div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="fourinchbrush" alt="" height="350px; " width="300px;"></mat-card>

      <div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b>Asian Paints SmartCare Brush for Oil and Water Based Paint (4 Inches)</b></h2>
        <ul><li>This brush can be used with all kinds of paints, enamels, emulsions and distempers</li>
          <li>width of brush: 4 inches</li>
          <li>Handle has good grip</li></ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>


  </div>

</div>

</div>
<!-- 2nd container -->

<div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="twoinchbrush" alt="" height="350px; " width="300px;"></mat-card>

      <div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b>Asian Paints TruCare Wall Paint Brush (2 Inches)</b></h2>
        <ul><li>Brush formulated for solvent based and water based paints application.</li>
          <li>High quality filaments offer best-in-class paint pickup</li>
          <li>Superior edge cutting</li>
        <li>Better endurance</li>
      <li>Better quality tin</li></ul><br>
          <button class="btn btn-primary" >Price on Request</button></mat-card>
      </div>


  </div>

</div>

</div>
 <!-- 3rd container -->

 <div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="oneinchbrush" alt="" height="350px; " width="300px;"></mat-card>

      <div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b>Apollo Decor Water and Oil Based Wall Paint Brush (1 Inch)</b></h2>
        <ul><li>Available in 1Inch, 2Inches & 3Inches</li>
          <li>Best-in-Class paint pickup</li>
          <li>Can be used in many forms</li>
        <li>Superior edge cutting</li>
      <li>Best quality handles for easy holding</li></ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>


  </div>

</div>

</div>

<!-- 4th container -->
<div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="nineinchroller" alt="" height="350px; " width="300px;"></mat-card>

      <div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b>UXCELL Plush Sleeve Cover Wall Paint Painting Brush Roller (Red, 9 Inch Length)</b></h2>
        <ul><li>9 Inch Length Plush Sleeve Cover</li>
          <li>Ideal For Wall Painting</li>
          <li>Brush Type:Roller Brush</li></ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>


  </div>

</div>

</div>
 <!-- 5th container -->

 <div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="nineinchroller2" alt="" height="350px; " width="300px;"></mat-card>

      <div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b>Asian Paints 9Inches Interior Application Roller</b></h2>
        <ul><li>Easy to use</li>
          <li>Reduces paint wastage</li>
          <li>Paint holding capacity of 1.1Ltr</li></ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>


  </div>

</div>

</div>
