<div style="background-color: brown;">

<mat-card>
<div class="container">
  <img class="img1" [src]="img1" alt="">

  <img class="img2" [src]="img2" alt="">


  <img class="img3" [src]="img3" alt="">
</div>

</mat-card>

  <mat-card>
    <div class="container">

  <img class="img4" [src]="img4" alt="">

  <img class="img5" [src]="img5" alt="">


  <img class="img6" [src]="img6" alt="">
</div>

</mat-card>
  <!-- <img class="img7" [src]="img7" alt="">
  <img class="img8" [src]="img8" alt="">
  <img class="img9" [src]="img9" alt="">
  <img class="img10" [src]="img10" alt="">
  <img class="img11" [src]="img11" alt="">
  <img class="img12" [src]="img12" alt="">
  <img class="img13" [src]="img13" alt="">
  <img class="img14" [src]="img14" alt="">
   <img class="img15" [src]="img15" alt="">-->
  </div>
