<div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="enamel1" alt="" height="350px; " width="300px;"></mat-card>

      <div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b>Asian Enamel Paint , 1 L (White)</b></h2>
        <ul><li>Color : White</li>
          <li>Quantity : 1Ltr</li>
          <li> Eco-Friendly</li>
          <li>Made in India</li>

        </ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>

</div>

</div>

</div>


<!-- //componet2 -->
<div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="enamel2" alt="" height="350px; " width="300px;"></mat-card>
<div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b>Asian Paints Apcolite Premium Gloss Enamel Paint (500ml, Brilliant White)</b></h2>
        <ul><li>Gloss Finish</li>
          <li>Tough And Durable</li>
          <li> Stain Guard</li>
          <li>Capacity : 500ml</li>
          <li>Color : Brilliant White</li>
        </ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>

</div>

</div>

</div>


<!-- //container3-->

<div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="enamel3" alt="" height="350px; " width="300px;"></mat-card>
<div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b>Asian Enamel Paint, 1 L, Brown</b></h2>
        <ul><li>Color : Brown</li>
          <li>Quantity : 1Ltr</li>
          <li> Eco-Friendly</li>
          <li>Made in India</li>

        </ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>

</div>

</div>

</div>


<!-- //container3-->

<div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="enamel4g" alt="" height="350px; " width="300px;"></mat-card>
<div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b>Asian Paint Tractor Emulsion (White, 1 L)</b></h2>
        <ul><li>Asian paint tAsian paint tractor emulsion</li>
          <li>color:white</li>
          <li> Weight: 1 L</li>
          <li>Made in India</li>

        </ul><br>
          <button class="btn btn-primary">Price on Request</button></mat-card>
      </div>

</div>

</div>

</div>



