<div class="container-fluid" >

  <div class="row">

  <div class="col-sm " >
    <mat-card class="product1"><img [src]="createx1" alt="" height="350px; " width="300px;"></mat-card>

      <div class="col-sm ">

        <mat-card class="product-content"><br>
        <h2><b>Asian Paints TruCare Wall Paint Brush (2 Inches)</b></h2>
        <ul><li>Brush formulated for solvent based and water based paints application.</li>
          <li>High quality filaments offer best-in-class paint pickup</li>
          <li>Superior edge cutting</li>
        <li>Better endurance</li>
      <li>Better quality tin</li></ul><br>
          <button class="btn btn-primary" >Price on Request</button></mat-card>
      </div>


  </div>

</div>

</div>
